<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.company"/>

    <bean name="userRepository" class="com.company.repository.UserRepositoryImpl"/>
    <bean name="userService" class="com.company.service.UserServiceImpl"/>

    <bean name="userAspect" class="com.company.aspect.UserAspect"/>

    <aop:config>
        <aop:aspect ref="userAspect">
            <aop:pointcut id="user"  expression="execution(* com.company.service.UserService.showUser(..))"/>
            <aop:before pointcut-ref="user" method="before"/>
            <aop:after pointcut-ref="user" method="after" />
        </aop:aspect>
    </aop:config>

</beans>